@import "@repo/tailwind-config";

@layer base {
  :root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }

  @media (prefers-color-scheme: light) {
    body {
      color: #213547;
      background-color: #ffffff;
    }
  }
}
